{% load static %}

    <!-- Topbar Start -->
    <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <small class="py-2"><i class="far fa-clock text-primary me-2"></i>Hizmet Saatleri: Pzt - Cmrtsi : 8.00 - 20.00, Pazar Kapalı </small>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>Liva.iletisim@gmail.com</p>
                    </div>
                    <div class="py-2">
                        <a href="tel:+012 345 6789" class="m-0 text-white"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>LivaDent</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" {% if request.path == '/' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %} >Ana Sayfa</a>
                
                <a href="{% url 'about' %}"  {% if 'about' in request.path %} class="nav-item nav-link active" 
                    {% else %} class="nav-item nav-link" {% endif %} >Hakkımızda</a>
                
                 <a href="{% url 'services' %}"  {% if 'services' in request.path %} class="nav-item nav-link active"
                    {% else %} class="nav-item nav-link" {% endif %}>Hizmetlerimiz</a>
                
                <a href="{% url 'contact' %}"  {% if 'iletisim' in request.path %} class="nav-item nav-link active"
                    {% else %} class="nav-item nav-link" {% endif %}>İletişim</a>
            </div>
            <a href="{% url 'randevu' %}" class="btn btn-primary py-2 px-4 ms-3">Randevu Al</a>
        </div>
    </nav>
    <!-- Navbar End -->